~$
Source/SprocketWTW/src/SprocketWTW/obj/
Source/SprocketWTW/src/SprocketWTW/bin/
Source/SprocketWTW/src/SprocketWTW.Tests/obj/
/bin/
Source/SprocketWTW/src/SprocketWTW.Tests/bin/
Source/SprocketWTW/settings.StyleCop
Source/SprocketWTW/.global.json.un~
Source/SprocketWTW/.vs/restore.dg
Source/SprocketWTW/global.json~
*.user
*.suo
Source/SprocketWTW/.vs/config/applicationhost.config
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/bin/Debug/netstandard1.6/SprocketWTW.ASPNet.Core.deps.json
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/bin/Debug/netstandard1.6/SprocketWTW.ASPNet.Core.dll
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/bin/Debug/netstandard1.6/SprocketWTW.ASPNet.Core.pdb
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/bin/Debug/netstandard1.6/SprocketWTW.dll
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/bin/Debug/netstandard1.6/SprocketWTW.pdb
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/obj/Debug/netstandard1.6/.IncrementalCache
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/obj/Debug/netstandard1.6/.SDKVersion
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/obj/Debug/netstandard1.6/dotnet-compile-csc.rsp
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/obj/Debug/netstandard1.6/dotnet-compile.assemblyinfo.cs
Source/SprocketWTW/src/SprocketWTW.ASPNet.Core/obj/Debug/netstandard1.6/dotnet-compile.rsp
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/MVCInjection.pdb
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/MVCInjection.runtimeconfig.dev.json
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/MVCInjection.runtimeconfig.json
Source/SprocketWTW/src/MVCInjection/obj/Debug/netcoreapp1.0/.IncrementalCache
Source/SprocketWTW/src/MVCInjection/obj/Debug/netcoreapp1.0/.SDKVersion
Source/SprocketWTW/src/MVCInjection/obj/Debug/netcoreapp1.0/MVCInjectiondotnet-compile.deps.json
Source/SprocketWTW/src/MVCInjection/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
Source/SprocketWTW/src/MVCInjection/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/SprocketWTW.ASPNet.Core.pdb
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/SprocketWTW.dll
Source/SprocketWTW/src/MVCInjection/bin/Debug/netcoreapp1.0/SprocketWTW.pdb
